[mysqld]
# Bind to all network interfaces (for external access)
bind-address = 0.0.0.0 # 127.0.0.1; Restricts access to localhost only

# Set the default authentication plugin for compatibility, forcing the container to respect MYSQL_ROOT_PASSWORD
default_authentication_plugin = caching_sha2_password

# Error log to STDERR (Docker logs)
#log_error = /proc/self/fd/2

# Enable slow query logging for performance monitoring
#slow_query_log = 1
#long_query_time = 2
#slow_query_log_file = /var/lib/mysql/mysql-slow.log

# General optimizations
#skip-name-resolve       # Avoid DNS resolution delays
#max_connections = 200 # Increase max connections for high-load applications

# Buffer sizes for performance tuning
#innodb_buffer_pool_size = 512M # Increase InnoDB buffer pool for better performance, If your container has more than 2GB RAM, increase to 1024M
#innodb_log_file_size = 64M
#innodb_flush_method = O_DIRECT

# Ensure binary logging for replication and backups
#log_bin = /var/lib/mysql/mysql-bin.log
#server-id = 1

# Reduce memory usage for better container efficiency
#table_open_cache = 800

# Disable symbolic-links for security
#symbolic-links = 0

[client]
default-character-set = utf8mb4